/* RESET */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* LAYOUT */

.app-layout {
  display: flex;
  height: 100vh;
  background: #f5f6fa;
}

/* SIDEBAR */

.sidebar {
  width: 260px;
  background: #1e293b;
  color: white;
  position: fixed;
  height: 100%;
  left: -260px;
  transition: all 0.3s ease;
  z-index: 1000;
}

.sidebar.open {
  left: 0;
}

.sidebar-logo {
  font-size: 22px;
  font-weight: bold;
  padding: 20px;
  text-align: center;
  background: #0f172a;
}

/* MENU */

.sidebar nav {
  display: flex;
  flex-direction: column;
}

.sidebar nav a {
  color: #cbd5e1;
  text-decoration: none;
  padding: 15px 20px;
  display: flex;
  gap: 12px;
  align-items: center;
  transition: 0.2s;
}

.sidebar nav a:hover {
  background: #334155;
  color: white;
}

.sidebar nav a.active {
  background: #2563eb;
  color: white;
}

/* MAIN */

.main-area {
  flex: 1;
  margin-left: 260px;
  display: flex;
  flex-direction: column;
}

/* HEADER */

.header {
  height: 60px;
  background: white;
  display: flex;
  align-items: center;
  padding: 0 20px;
  gap: 20px;
  border-bottom: 1px solid #ddd;
}

.menu-btn {
  background: none;
  border: none;
  cursor: pointer;
}

/* CONTENT */

.content {
  flex: 1;
  padding: 25px;
  overflow-y: auto;
}

/* MOBILE */

@media (max-width: 991px) {
  .sidebar {
    position: fixed;
  }

  .main-area {
    margin-left: 0;
  }
}
